@if (true)
{
    <li class="nav-item">
        @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Identity/Account/Manage/Index" title="Manage">Hola Usuario</a>*@
    </li>

}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

