@model Inventario.Models.ClienteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titPantalla = "Cliente";
    var fncPantalla = "Borrar";

}

<div class="container-fluid">
    <form asp-action="Delete">
        <div class="row">
            <div class="col-lg-12 barra-titulo-form barra-titulo-form">
                <b>@titPantalla</b> - @fncPantalla
                <div class="nav navbar-right" style="padding-right: 10px">
                    <button type="submit" class="btn btn-danger bg-slate-600 btn-labeled btn-sm mr-2">
                        <b>
                            <i class="icon-checkmark3"></i>
                        </b> Confirmar
                    </button>

                    <button type="button" onclick="Cancel();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm">
                        <b>
                            <i class="icon-exit3"></i>
                        </b> Salir
                    </button>
                </div>
            </div>
        </div>
    </form>

    @await Html.PartialAsync("_cliente", Model)
    

</div>

@section Scripts {
    <script src="~/js/Libreria.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

        });

        function Cancel() {
            window.location.href = "/Cliente/Index";
        }</script>
}





