@model Inventario.Models.ProveedorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var titPantalla = "Proveedor";
    var fncPantalla = "Editar";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 barra-titulo-form barra-titulo-form">
            <b>@titPantalla</b> - @fncPantalla
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PrvCodigo" class="control-label"></label>
                            <input asp-for="PrvCodigo" class="form-control" />
                            <span asp-validation-for="PrvCodigo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" readonly />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="PrvNombreCompania" class="control-label"></label>
                            <input asp-for="PrvNombreCompania" class="form-control" />
                            <span asp-validation-for="PrvNombreCompania" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="PrvContacto" class="control-label"></label>
                            <input asp-for="PrvContacto" class="form-control" />
                            <span asp-validation-for="PrvContacto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="PrvTituloContacto" class="control-label"></label>
                            <input asp-for="PrvTituloContacto" class="form-control" />
                            <span asp-validation-for="PrvTituloContacto" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="linea"></div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="PrvDireccion" class="control-label"></label>
                            <textarea asp-for="PrvDireccion" class="form-control" type="text" rows="3" cols="100" style="overflow:auto;resize:none;text-wrap:normal;scrollbar-base-color:ActiveBorder;overflow-y:scroll;height:auto"></textarea>
                            <span asp-validation-for="PrvDireccion" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PrvCiudad" class="control-label"></label>
                            <input asp-for="PrvCiudad" class="form-control" />
                            <span asp-validation-for="PrvCiudad" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="PrvRegion" class="control-label"></label>
                            <input asp-for="PrvRegion" class="form-control" />
                            <span asp-validation-for="PrvRegion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PrvCodigoPostal" class="control-label"></label>
                            <input asp-for="PrvCodigoPostal" class="form-control" />
                            <span asp-validation-for="PrvCodigoPostal" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="linea"></div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PrvTelefono1" class="control-label"></label>
                            <input asp-for="PrvTelefono1" class="form-control" />
                            <span asp-validation-for="PrvTelefono1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PrvTelefono2" class="control-label"></label>
                            <input asp-for="PrvTelefono2" class="form-control" />
                            <span asp-validation-for="PrvTelefono1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="PrvTelefono3" class="control-label"></label>
                            <input asp-for="PrvTelefono3" class="form-control" />
                            <span asp-validation-for="PrvTelefono3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="PrvCorreoE1" class="control-label"></label>
                            <input asp-for="PrvCorreoE1" class="form-control" />
                            <span asp-validation-for="PrvCorreoE1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label asp-for="PrvCorreoE2" class="control-label"></label>
                            <input asp-for="PrvCorreoE2" class="form-control" />
                            <span asp-validation-for="PrvCorreoE2" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="PrvPagWeb" class="control-label"></label>
                            <input asp-for="PrvPagWeb" class="form-control" />
                            <span asp-validation-for="PrvPagWeb" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="PrvRedSocial1" class="control-label"></label>
                            <input asp-for="PrvRedSocial1" class="form-control" />
                            <span asp-validation-for="PrvRedSocial1" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label asp-for="PrvRedSocial2" class="control-label"></label>
                            <input asp-for="PrvRedSocial2" class="form-control" />
                            <span asp-validation-for="PrvRedSocial2" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="PrvEstatus" class="control-label"></label>
                            <select class="form-control custom-select" asp-for="PrvEstatus" asp-items=@ViewBag.Estatus></select>
                            <span asp-validation-for="PrvEstatus" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="nav navbar-right" style="padding-right: 10px">
                        <button type="submit" class="btn btn-danger bg-slate-600 btn-labeled btn-sm mr-2">
                            <b>
                                <i class="icon-checkmark3"></i>
                            </b> Confirmar
                        </button>

                        <button type="button" onclick="Cancel();" class="btn btn-dark bg-slate-600 btn-labeled btn-sm">
                            <b>
                                <i class="icon-exit3"></i>
                            </b> Salir
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/Libreria.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {

        });

        function Cancel() {
            window.location.href = "/Proveedor/Index";
        }</script>
}



